.cv-contact-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}
.header-info {
  text-align: center;
}

.cv-contact-title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}
